.App {
  text-align: center;
}
body {
  background-color: cadetblue;
  font-family: arial;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.sign-up-container,
.personal-info-container,
.address-container,
.other-container {
  margin-top: 200px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
input {
  border: 2px solid black;
  margin: 10px;
  width: 300px;
}
button {
  width: 100px;
}
